# Python
*.pyc
__pycache__/
*.egg-info/
.eggs/
dist/
build/

# Virtual environment
.venv/
venv/
pyvenv.cfg
lib/
bin/
include/
share/

# Generated output files (temporary)
image.png
image2.png
out.png
*.mp4

# IDE
.idea/
.vscode/
